[submodule "evil"]
	path = submodules/evil
	url = https://github.com/tomtomjhj/evil
[submodule "zenburn"]
	path = submodules/zenburn
	url = https://github.com/tomtomjhj/zenburn-emacs
[submodule "evil-surround"]
	path = submodules/evil-surround
	url = https://github.com/emacs-evil/evil-surround
[submodule "evil-collection"]
	path = submodules/evil-collection
	url = https://github.com/emacs-evil/evil-collection
[submodule "evil-nerd-commenter"]
	path = submodules/evil-nerd-commenter
	url = https://github.com/redguardtoo/evil-nerd-commenter
[submodule "evil-visualstar"]
	path = submodules/evil-visualstar
	url = https://github.com/bling/evil-visualstar
	ignore = untracked
[submodule "submodules/evil-snipe"]
	path = submodules/evil-snipe
	url = https://github.com/hlissner/evil-snipe
[submodule "submodules/evil-terminal-cursor-changer"]
	path = submodules/evil-terminal-cursor-changer
	url = https://github.com/7696122/evil-terminal-cursor-changer
[submodule "submodules/evil-easymotion"]
	path = submodules/evil-easymotion
	url = https://github.com/PythonNut/evil-easymotion
[submodule "submodules/evil-vimish-fold"]
	path = submodules/evil-vimish-fold
	url = https://github.com/alexmurray/evil-vimish-fold
[submodule "submodules/goto-chg"]
	path = submodules/goto-chg
	url = https://github.com/emacs-evil/goto-chg
