[submodule "evil"]
	path = evil
	url = https://github.com/emacs-evil/evil
[submodule "zenburn"]
	path = zenburn
	url = https://github.com/bbatsov/zenburn-emacs
[submodule "evil-surround"]
	path = evil-surround
	url = https://github.com/emacs-evil/evil-surround
[submodule "emacs-neotree"]
	path = emacs-neotree
	url = https://github.com/jaypei/emacs-neotree
[submodule "evil-collection"]
	path = evil-collection
	url = https://github.com/emacs-evil/evil-collection
[submodule "evil-leader"]
	path = evil-leader
	url = https://github.com/cofi/evil-leader
[submodule "evil-nerd-commenter"]
	path = evil-nerd-commenter
	url = https://github.com/redguardtoo/evil-nerd-commenter
[submodule "evil-visualstar"]
	path = evil-visualstar
	url = https://github.com/bling/evil-visualstar
